.trash
.obsidian/graph.json
.obsidian/types.json
.obsidian/workspace.json
!/.obsidian/plugins
.obsidian/plugins/dataview/*
!/.obsidian/plugins/dataview/data.json
.obsidian/plugins/obsidian-tasks-plugin/*