graph.json
types.json
workspace.json
!/plugins
plugins/dataview/*
!/plugins/dataview/data.json
plugins/obsidian-tasks-plugin/*
plugins/obsidian-minimal-settings/*
!plugins/obsidian-minimal-settings/data.json
themes